.layout-default {
  padding-top: 50px;
}

.layout-default .navbar.navbar-inverse {
  /* background-color: #336699; */
  margin-bottom: initial;
}

.layout-default .navbar a {
  color: #fff !important;
}

/* right top nav */

.layout-default .nav-notices li a {
  padding: 0 1rem;
  font-size: 1.5rem;
  line-height: 50px;
}

.layout-sidebar {
  width: 250px;
  height: calc(100vh - 50px);
  float: left;
  background-color: #f5f5f5;
  border-right: 1px solid #eee;
}

.layout-main {
  width: calc(100% - 250px);
  margin-left: 250px;
  padding-left: 0.8rem;
}