.layout-default {
  padding-top: 50px;
}

.layout-default .navbar.navbar-inverse {
  background-color: #3c8dbc;
  margin-bottom: initial;
  border: none;
}

/*logo*/

.layout-default .logo {
  -webkit-transition: width .3s ease-in-out;
  -o-transition: width .3s ease-in-out;
  transition: width .3s ease-in-out;
  display: block;
  float: left;
  height: 50px;
  font-size: 20px;
  line-height: 50px;
  text-align: center;
  width: 230px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 0 15px;
  font-weight: 300;
  overflow: hidden;
  background-color: #367fa9;
  color: #fff;
  border-bottom: 0 solid transparent;
  margin-left: -5px;
}

.layout-default .logo .logo-mini {
  display: none;
}

.layout-default .logo .logo-lg {
  display: block;
}

/*navbar*/

.layout-default .navbar a {
  color: #fff !important;
  text-decoration: none;
}

/* right top nav */

.layout-default .nav-notices li a {
  padding: 0 1rem;
  font-size: 1.2rem;
  line-height: 50px;
}

.layout-default .nav-notices li a>.glyphicon {
  top: 5px;
}

/*
  layout-sidebar
*/

.layout-sidebar {
  position: fixed;
  width: 230px;
  height: calc(100vh - 50px);
  float: left;
  background-color: #222d32;
  border-right: 1px solid #eee;
  overflow-y: auto;
  font-size: 0.95rem;
}

.layout-sidebar .sidebar-header {
  color: #fff;
  background: #1a2226;
  padding: 10px 25px 10px 15px;
  font-size: 12px;
}

.layout-sidebar .sidebar-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  white-space: nowrap;
  overflow: hidden;
}

.layout-sidebar .sidebar-menu>li {
  position: relative;
  margin: 0;
  padding: 0;
}

.layout-sidebar a {
  color: #b8c7ce;
  text-decoration: none;
}

.layout-sidebar .sidebar-menu li>a {
  border-left: 3px solid transparent;
  position: relative;
  padding: 12px 5px 12px 10px;
  display: block;
  font-size: 0.8rem;
}

.layout-sidebar .sidebar-menu li>a>i {
  margin-right: 0.5rem;
}

.layout-sidebar .sidebar-menu li.active>a {
  border-left-color: #3c8dbc;
}

.layout-sidebar .sidebar-menu li:hover>a,
.layout-sidebar .sidebar-menu li.active>a,
.layout-sidebar .sidebar-menu li.menu-open>a {
  color: #fff !important;
  background: #1e282c !important;
  text-decoration: none !important;
}

.layout-sidebar .sidebar-menu>li>.treeview-menu {
  margin: 0 1px;
  background: #2c3b41;
}

.layout-sidebar .sidebar-menu .active>.treeview-menu {
  display: block;
}

.layout-sidebar .treeview-menu {
  display: none;
  list-style: none;
  padding: 0;
  margin: 0;
}

.layout-sidebar .treeview-menu>li {
  margin: 0;
}

.layout-sidebar .sidebar-menu .treeview-menu>li>a {
  color: #8aa4af;
  padding: 5px 5px 5px 15px;
  display: block;
  position: relative;
}

/*
  layout-main
*/

.layout-main {
  width: calc(100% - 230px);
  margin-left: 230px;
  padding-left: 0.8rem;
  padding-top: 0.5rem;
}